{% graphql lists = 'index' | fetch: 'records' | fetch: 'results' %}

{% if lists.size > 0 %}
  <ol>
    {% for list in lists %}
      <li>
        <a href="/list/show/{{ list.id }}">{{ list.title }}</a>
      </li>
    {% endfor %}
  </ol>
{% else %}
  <p>There are no lists yet. You can create the first one!</p>
{% endif %}
<form
  action="/list/create"
  method="POST"
  x-show="open === true">

  <input type="text" name="title" placeholder="List title" required>

  <button class="button-primary">Create</button>
</form>